html, body, #map {
	position:absolute;
	margin:0px;
	padding:0px;
	top:0px;
	left:0px;
	height:100%;
	width:100%;
	background-color:black;
}

.leaflet-popup-content .name {
	font-weight:bold;
}
.leaflet-popup-content .coords {
	font-size:0.8em;
	margin-top:1em;
	color:#777;
}
.langselector a,
.langselector a:hover,
.langselector a:visited,
.langselector a:active
{
	color:white;
	margin-left:1em;
}

